/* structure */

:root {
    --text-color: #f7fafb;
    --background-color: #2d3848;
    --section-color: #4a5568;
    --primary-color: #0a9396;
    --secondary-color: #4361ee;
    --alert-color: #ffb6cc;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font: 1rem "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: auto;
    width: 660px;
    padding: 1rem;
    border-radius: 0.5rem;
}

a,
button {
    border-radius: 0.5rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    justify-content: center;
    padding: calc(0.5rem - 1px) 1rem;
}

a,
button,
label,
input {
    display: inline-block;
    font-size: 0.9rem;
    margin: 0.4rem 0;
}

main>button {
    margin-right: 0.3rem;
}

section button {
    display: block;
}

button:focus,
button:hover,
a:focus,
a:hover {
    color: var(--text-color);
    border: 0.1rem solid var(--section-color);
    background: var(--background-color);
}

body>header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem 0.2rem;
    grid-template-areas: "content-header-title content-header-cta" "content-header-subtitle content-header-cta";
    border-bottom: 0.1rem solid var(--section-color);
    padding: 1rem;
    margin-top: 0;
}

body>header h1 {
    font-size: 1.7rem;
    font-weight: bolder;
    grid-area: content-header-title;
    margin: 0;
}

body>header h2 {
    font-size: 1rem;
    font-weight: bold;
    grid-area: content-header-subtitle;
    align-self: center;
    margin: 0;
}

body>header>button {
    margin-right: 0;
    align-self: flex-end;
    grid-area: content-header-cta;
}

@media (max-width: 500px) {
    h1 {
        border: none;
        font-size: 1em;
        color: var(--text-color);
        margin: 0 auto 0.5rem auto;
        padding: 0.5em;
    }
}

section {
    background-color: var(--section-color);
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
}

.section-instruction {
    align-items: center;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 0.9rem;
    font-style: italic;
    margin: 0.1rem 0;
    padding: 0.3rem;
}

.section-instruction ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    background-color: var(--section-color);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

main>header::before {
    content: '# ';
}

header[title]::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z" fill="rgba(20,33,61,1)"/></svg>');
    background-size: cover;
    padding-left: 0;
    content: '';
    display: inline-block;
    height: 1rem;
    margin-left: 0.5rem;
    width: 1rem;
}

header>span.tips {
    color: var(--alert-color);
    font-size: 0.9rem;
    font-style: italic;
    text-transform: none;
}


/* forms */

a#cs-export {
    text-decoration: none;
}

.remove-button {
    border-radius: 0.5rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
}

a.primary,
button.primary {
    background: var(--primary-color);
    color: var(--text-color);
    border: 0.1rem solid transparent;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bolder;
}

.call-to-action {
    display: block;
    margin: auto;
}

a.secondary,
button.secondary {
    background: var(--secondary-color);
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border: 0.1rem solid transparent;
}

label {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 0.3rem;
    text-transform: capitalize;
    width: 2.5rem;
}

input[type="text"] {
    color: var(--section-color);
    font-weight: 500;
    padding: 0.3rem;
}

a.tertiary,
button.tertiary {
    background: var(--background-color);
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid var(--background-color);
}

input[type="color"] {
    width: 40px;
}

input[type="file"] {
    background-color: var(--text-color);
    color: var(--secondary-color);
    width: 22rem;
}

fieldset {
    margin: 0.4rem 0;
    padding: 0 0.2rem;
    position: relative;
}

#config-retriever>label {
    display: inline;
}