/* structure */

:root {
  --couleur-primaire: rgba(0, 130, 201, 1);
  --couleur-texte-primaire: rgba(255, 255, 255, 1);
  --couleur-secondaire: rgba(230, 243, 250, 1);
  --couleur-texte:  rgba(34, 34, 34, 1);
  --couleur-alerte:  rgba(236, 167, 0, 1);;
}

html {
  font-size: 100%;
}

body {
  color: var(--couleur-texte);
  font: 1rem "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: auto;
  width: 500px;
  padding: 0 1rem;
}

h1 {
  color: var(--couleur-texte);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8rem;
  vertical-align: middle;

  &:before {
     content: '🏷';
     transform: rotateY(180deg);
     margin-right: 1rem;
     font-size: 1.8rem;
     line-height: 1.8rem;
     vertical-align: middle;
     display: inline-block;
   }
}

section {
    margin-bottom: 0.3rem;
    margin-top: 0.2em;
    padding: 0.5rem;
}

header {
    font-style: normal;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  text-align: center;
  border: 2px solid var(--couleur-primaire);
  border-radius: 1rem;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin: 0 auto;
}

nav > ul > li {
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: middle;
  padding: .5rem 0;
  cursor: pointer;
}

nav > ul > li > a {
  color: var(--couleur-texte);
} 

nav > ul > li:hover {
  background-color: var(--couleur-secondaire);
  border-radius: calc(1rem - 2px);
}

nav > ul > li:hover a {
  color: var(--couleur-primaire);
}

nav > ul > li[aria-selected="true"] {
  background-color: var(--couleur-primaire);
  border-radius: calc(1rem - 2px);
}

nav > ul > li[aria-selected="true"] a {
  color: white;
}

nav > ul > li[aria-selected="true"]:before {
  color: white;
}

button,
a {
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
}

a {
  display: inline-block;
}

nav a {
  padding: 0;
}

button,
label,
input {
  display: inline-block;
  font-size: 0.9em;
}

button {
  margin: 1rem 0;
}

label,
input {
  margin: .5rem 0;
}

.instructions {
  font-style: normal;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

/* forms */

a,
a:visited {
  text-decoration: none;
}

.remove-button {
  background-color: var(--couleur-alerte);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;

  &:hover {
    background-color: var(--couleur-texte-primaire);
    color: var(--couleur-alerte);
    border: 1px solid var(--couleur-alerte);
  }

  &:before {
    content: 'X';
  }
}

a.primary,
button.primary {
  background: var(--couleur-primaire);
  color: var(--couleur-texte-primaire);
  border: 1px solid transparent;
  font-size: 1.1em;
}

button.call-to-action {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.call-to-action {
  width: auto;
}

section button {
  display: block;
}

button.primary:focus,
button.primary:hover,
a.primary:focus,
a.primary:hover {
  background-color: var(--couleur-secondaire);
  border-color: var(--couleur-primaire);
  color: var(--couleur-primaire);
}

label {
  color: var(--couleur-texte);
  font-weight: 500;
  margin-left: 0.3rem;
  margin-right: .8rem;
  text-transform: capitalize;
}

input[type="text"] {
  color: var(--couleur-texte);
  font-weight: 500;
  padding: 0.3rem;
}

input[type="color"] {
  width: 40px;
}

input[type="file"] {
  background-color: #fff;
  color: #117a65;
}

fieldset {
  margin: 0.4rem 0;
  padding: 0 0.2rem;
  position: relative;
}

#config-retriever > label {
  display: inline;
}

#cs-container {
  max-height: 240px;
  overflow: auto;
}

.bottom-sticky {
  position: sticky;
  margin: 1rem auto;
}

.hidden {
  display: none !important;
}
